:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  
    color-scheme: dark light;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
  
  a {
    font-weight: 500;
  }
  a:link { color:#ffffff; }
  a:visited { color:#ffffff; }
  a:hover { color: #ffffff; }
  a:active { color:#ffffff; }
  
  body {
    margin: 0;
    place-items: center;
    /* overflow-x: hidden; */
  }
  
  #contents {
    /* background-color: #535bf2; */
    min-width: 320px;
    min-height: 100vh;
    max-width: 1280px;
    margin: 150px auto auto auto;
  }
  
  hr {
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
  
  h1 {
    font-size: 3.2em;
    /* line-height: 1.1; */
  }
  
  #app {
    /* max-width: 1280px; */
    margin: 0 auto;
    /* padding: 2rem; */
    text-align: center;
  }
  
  .barner {
    position:fixed;
    display: block;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    background-color: rgba(28, 28, 28, 0.5);
    width: 100%;
    top: 0;
    z-index: 100;
  }
  
  #top_page_photo {
    width: 50%;
  }
  
  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
    .barner {
      background-color: rgb(236, 236, 236, 0.5);
    }
    a:link { color:#000000; }
    a:visited { color:#000000; }
    a:hover { color: #000000; }
    a:active { color:#000000; }
  }
  
  @media screen and (max-width:1024px) {
    #top_page_photo {
      width: 90%;
    }
  
    :root {
      font-size: 14px;
    }
  }