a:link { color: $textColor; }
a:visited { color: $textColor; }
a:hover { color: $accentColor; }
a:active { color: $textColor; }

body {
  background-color:$backgroudColor;
}

p {
  color: $textColor;
}

h1 {
    font-size: 40px;
    font-style: italic;
    color: #b84242;
  }

h2 {
    font-size: 30px;
    color: $subColor;
}